*{
    font-family: 'PT Serif', Arial;
    font-size: 18px;
}

.row {
    padding: 10px 30px;
}

.fa, .section_title {
    color: #3498db;
    margin-bottom: 10px;
}

.title_container {
    background-image: url('../img/keyboard.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 450px;
    color: #3498db;
    margin-top: 0;
}

.page-header {
    margin:30px;
    text-align: center;
}

.text-content {
    margin: 25px;
}

.center-text{
    text-align: center;
    padding: 0 55px;
}

.headshot {
    height: 250px;
    float: left;
}

.testimonials{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 4px 4px 0px rgba(0,0,0,0.025);
    margin: 25px;
}

.testimonials-content{
    font-family: 'PT Serif',Arial !important;
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
}

.panel-footer{
    text-align: right;
}
