*{
    /*font-family: 'PT Serif', Arial;*/
    font-family: 'Raleway', Arial;
    font-size: 18px;
}

body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

hr {
    visibility: hidden;
}

.row {
    padding: 10px 30px;
}

.navbar-default {
    color: #3498db;
}

.fa, .section_title {
    color: #3498db;
    margin-bottom: 10px;
}

.title_container {
    background-image: url('../img/keyboard.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #3498db;
    margin-top: 30px;
}

.page-header {
    margin:30px;
    text-align: center;
}

p.middle-nav {
    margin: 10px 0 10px;
}

.phone-box {
    margin-top: 10px;
}

.head-text{
    font-family: 'Nothing You Could Do', cursive;
    max-width: 50%;
    margin: 53px auto;

}

.text-content {
    margin: 25px;
}


/*.jumbotron{
    background-color: white;
    margin: 135px auto;
}*/

.section-title {
    margin-bottom: 20px;
    color: #3498db;
}

.center-text{
    text-align: center;
    padding: 0 55px;
}

.headshot {
    width: 100%;
    max-height: 250px;
    float: left;
    margin: 0 auto;
}

.testimonials{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 4px 4px 0px rgba(0,0,0,0.025);
    margin: 25px;
}

.testimonials-content{
    font-family: 'PT Serif',Arial !important;
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
}

.panel-footer{
    text-align: right;
}

#footer {
    margin-top: 40px;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    hr {
        visibility: visible; 
        margin: 15px auto;
        width: 50px;
    }

    .subheader {
        visibility: hidden;
    }

    .jumbotron {
        padding-bottom: 0px;
    }

    .title-container: {
        height: 200px;
    }

    .head-text {
        max-width: 100%;
        margin: 100px auto 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .head-text {
       font-size: 86px !important;
    }

    .title-container {
        height: 450px;

    }
}



